doctype html
html
  head
    title Harshit Dance Website
    block scripts
    block style 
      
  body
    nav#navbar 
      ul 
        div#logo
          img(src="../static/img/logo.png")
          |HDA
     
        li #[a(href="/")  Home ]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact] 
  
    block content
    //- block foot
        
    footer#footer 
      | Copyright @ 2021 HarshitDanceAcademy | All right reserved
        
    //-   #footer
    //-     p some footer content